#gallery img {
	max-width: 80%;
	display: block;
	margin: auto;
}

#facebook-link {
	color: #3b5998;
}

.image-strip-col {
	float: left;
	width: 25%;
}

.image-strip-img {
	width: 100%;
}

#image-strip::after {
  content: "";
  clear: both;
  display: table;
}

#about-homepage-image {
	max-height: 800px;
}

.calendar-frame {
	margin: auto;
}

.footer-divider {
	margin-top: 0!important;
}

.service-header {
	color: #008F95;
}

.testimonial-row {
	text-align: center;
}

.owl-stage {
	display: flex;
	align-items: center;
}


// Mobile Styling

#header-title {
	font-size: .6em;
}

@media only screen and (max-width: 470px) {
	#header-title {
		font-size: .35em;
	}
}

.hamburger-div {

}

@media only screen and (max-width: 470px) {
	.hamburger-div {
		padding-bottom: 0!important;
		padding-top: 0!important;
	}
}

.title-text {
	text-shadow: black 0px 0px 50px, black 0px 0px 50px;
}

@media only screen and (max-width: 470px) {
	.title-text {
		font-size: 1.5rem!important;
	}
}

#landing-subtext {
	font-size: 1.5em;
}

@media only screen and (max-width: 470px) {
	#landing-subtext {
		font-size: 1em!important;
	}
}

.facebook-review-iframe {
	border: none;
	overflow: hidden;
}

@media only screen and (max-width: 470px) {
	.facebook-review-iframe {
		width: 300px!important;
		height: 600px!important;
	}
}
